
.form__input-text{
   margin:30px 0;
   height: 30px;
   padding-left: 5px;
   font-size:$small;
   color:$smoky-black;
   text-align: left;
   border: 1px solid $quick-silver;
   width: 80%;
}

.form__select{
   background-color: $white;
}

