p{
    font-size: $medium;
    font-family: $raleway;
    font-weight: $regular;
    color: $granite-gray;
    line-height: 1.7rem;
}

h1{
    font-size: $xxx-large;
    color: $smoky-black;
    font-family: $old-standard;
    font-weight: $bold
}

h2{
    font-size: $xx-large;
    color: $white;
    font-family: $old-standard;
    font-weight: $bold;
}

h3{
    font-family: $old-standard;
    font-size: $x-large;
    color:white;
    font-weight: $regular;
    margin: 0;
}