body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

p {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #646266;
  line-height: 1.7rem;
}

h1 {
  font-size: 50px;
  color: #0c0910;
  font-family: "Old Standard TT", serif;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  color: #FFF;
  font-family: "Old Standard TT", serif;
  font-weight: 700;
}

h3 {
  font-family: "Old Standard TT", serif;
  font-size: 20px;
  color: white;
  font-weight: 400;
  margin: 0;
}

.navbar {
  background-color: #FFF;
  width: 100%;
  z-index: 3;
  position: fixed;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.navbar li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #FFF;
  text-decoration: none;
  color: #0c0910;
  font-family: "Raleway", sans-serif;
}

.navbar li a:hover,
.navbar .menu-btn:hover {
  background-color: #FFF;
}

.navbar .logo {
  display: block;
  float: left;
  color: #FFF;
  background-color: #0c0910;
  font-size: 2rem;
  padding: 20px;
  text-decoration: none;
  font-family: "Old Standard TT", serif;
}

/* menu */
.navbar .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */
.navbar .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.navbar .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.navbar .menu-icon .navicon:before,
.navbar .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.navbar .menu-icon .navicon:before {
  top: 5px;
}

.navbar .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.navbar .menu-btn {
  display: none;
}

.navbar .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.navbar .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.navbar .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.navbar .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */
@media (min-width: 48em) {
  .navbar li {
    float: left;
  }

  .navbar li a {
    padding: 20px 30px;
  }

  .navbar .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .navbar .menu-icon {
    display: none;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: 2fr 0.5fr 0.3fr;
  grid-template-areas: "navbar navbar navbar" "section-img section-img section-img" "section-text section-text section-text" "section-form section-form section-suscribe";
}

.navbar {
  grid-area: navbar;
}

.section-img {
  grid-area: section-img;
}

.section-text {
  grid-area: section-text;
}

.section-form {
  grid-area: section-form;
}

.section-suscribe {
  grid-area: section-suscribe;
}

@media only screen and (min-width: 768px) {
  .grid-container {
    grid-template-areas: "navbar navbar navbar" "section-img section-img section-img" "section-text section-text section-text" "section-form section-form section-suscribe";
  }
}
@media only screen and (min-width: 992px) {
  .grid-container {
    grid-template-areas: "navbar navbar navbar" "section-img section-img section-img" "section-text section-text section-text" "section-form section-form section-suscribe";
  }
}
@media only screen and (min-width: 1200px) {
  .grid-container {
    grid-template-areas: "navbar navbar navbar" "section-text section-text section-img" "section-form section-suscribe section-img";
    grid-template-columns: 1fr 0.2fr 1.5fr;
    grid-template-rows: auto auto auto;
  }

  .section-text {
    margin-top: 100px;
  }
}
.container {
  padding: 50px 0px;
  width: 80%;
  margin: 0 auto;
}

.section-form {
  color: #FFF;
  background-color: #0c0910;
}

.section-img {
  width: 100%;
}
.section-img img {
  width: 100%;
}

.section-form {
  height: 100%;
}
.section-form h2, .section-form h3 {
  margin-top: 15px;
}

.section-suscribe__title {
  writing-mode: vertical-rl;
  margin: 100% auto 0 auto;
}
.section-suscribe__title h2 {
  color: #0c0910;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-height: 500px;
  }
}
.button__normal {
  margin: 20px 0;
  padding: 0.7rem 2rem;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #0c0910;
  border: 2px solid #0c0910;
  font-weight: 700;
}
.button__normal:hover {
  border-color: #a6a5a8;
}

.button-align {
  text-align: center;
}

.button__submit {
  background-color: #FFF;
  color: #0c0910;
  padding: 7rem;
}

.button__suscribe {
  writing-mode: vertical-rl;
  background-color: white;
  color: pink;
  border: white;
  float: right;
}

.form__input-text {
  margin: 30px 0;
  height: 30px;
  padding-left: 5px;
  font-size: 14px;
  color: #0c0910;
  text-align: left;
  border: 1px solid #a6a5a8;
  width: 80%;
}

.form__select {
  background-color: #FFF;
}

/*# sourceMappingURL=main.css.map */
